@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "./assets/theme/tailwind.css";
/**
 * This is absolutely necessary.  Because our build does not include actual CSS, Tailwind ignores all references to its
 * classes in our components.  So to get over that, we can just source the entire root dir here, and it'll be picked up
 * in the consuming apps.
 * Source: https://github.com/tailwindlabs/tailwindcss/issues/15452#issuecomment-2646057265
 */
@source "./";

/* Turning off the prefers-color-scheme mode
 * https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans: Open Sans;

  --text-1: 1rem;
  --text-1_25: 1.25rem;

  --color-gray-b: var(--color-gray-400);
  --color-disabled: var(--color-gray-200);
  --color-select-100: var(--color-sky-100);
  --color-select-200: var(--color-sky-200);
  --color-select-600: var(--color-sky-600);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-b, currentColor);
  }

  a {
    @apply underline text-blue-700;

    &:visited {
      @apply text-purple-700;
    }
  }
}
